body {

  color: ##000000;
}

.tag {
   font-family: inherit; 
   font-size: 1rem;
  }  

.jumbotron {
  background-image: url("images/images.jpg");
  background-size: 100% 100%;
  text-align: center;
}
